<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <div>
            Capacity of Bucket 1<input type="number" id="c1">
            <br><br>
            Capacity of Bucket 2<input type="number" id="c2">
            <br><br>
            X <input type="number" name="x1" id="x">
            <br><br>
            Y<input type="number" name= "y1" id="y">
            <br><br>
            Amount of Water you want <input type="number" id="out">
        </div>
        <button onclick="f1()">
            Submit
        </button>
        <script>
            function f1()
            {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) 
                {
                  document.getElementById('dynamic').style.display = 'block'
                  document.getElementById('bf2').style.display = 'block'
                  console.log('hi')
                  var doop = JSON.parse(this.responseText).message;
                  console.log(doop)
                }
          };
          xhttp.open("POST", "http://localhost:5772/jugglerywater", false);
          xhttp.setRequestHeader('Content-type', "application/x-www-form-urlencoded")
          var str = []
          str.push(document.getElementById('c1').value)
          str.push(document.getElementById('c2').value)
          str.push(document.getElementById('x').value)
          str.push(document.getElementById('y').value)
          str.push(document.getElementById('out').value)
          str.push("f1")
          console.log(str);
          xhttp.send('link='+str);
            }
        </script>
        <p id="dynamic" style="display: none;">
            Enter Rule Number <input type="number" id="rule">
        </div>
        <p id="curr"></p>
        <button onclick="f2()" style="display: none;" id="bf2">Process Next</button>
        <script>
            function f2()
            {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) 
                {
                  var doop = []; 
                  doop = JSON.parse(this.responseText).message;
                  document.getElementById('curr').innerHTML = doop 
                }
          };
          xhttp.open("POST", "http://localhost:5772/jugglerywater", false);
          xhttp.setRequestHeader('Content-type', "application/x-www-form-urlencoded")
          var str = []
          str.push(document.getElementById('rule').value)
          str.push("rule")
          console.log(str);
          xhttp.send('link='+str);
            }
        </script>
    </body>
</html>